<!-- filepath: /Users/akram.abdelnasser/Documents/private/events_booking/app/views/bookings/new.html.erb -->
<div class="container mt-5">
  <h1>Book Tickets for <%= @event.name %></h1>
  <p><strong>Remaining Tickets:</strong> <%= @event.remaining_tickets %></p>
  <%= render 'form' %>
</div>